[submodule "Deps/Externals/Bullet3"]
	path = Deps/Externals/Bullet3
	url = https://github.com/01Pollux/bullet3
[submodule "Deps/Externals/libogg-1.3.0"]
	path = Deps/Externals/libogg-1.3.0
	url = https://github.com/01Pollux/libogg-1.3.0
[submodule "Deps/Externals/flecs"]
	path = Deps/Externals/flecs
	url = https://github.com/01Pollux/flecs.git
[submodule "Deps/Externals/vorbis"]
	path = Deps/Externals/vorbis
	url = https://github.com/01Pollux/vorbis
[submodule "Deps/Externals/spdlog"]
	path = Deps/Externals/spdlog
	url = https://github.com/01Pollux/spdlog
[submodule "Deps/Externals/zlib"]
	path = Deps/Externals/zlib
	url = https://github.com/01Pollux/zlib
[submodule "Deps/Externals/bzip2"]
	path = Deps/Externals/bzip2
	url = https://github.com/01Pollux/bzip2
[submodule "Deps/Externals/DirectX-Headers"]
	path = Deps/Externals/DirectX-Headers
	url = https://github.com/01Pollux/DirectX-Headers
[submodule "Deps/Externals/glm"]
	path = Deps/Externals/glm
	url = https://github.com/01Pollux/glm
[submodule "Deps/Externals/cppcoro"]
	path = Deps/Externals/cppcoro
	url = https://github.com/andreasbuhr/cppcoro.git
[submodule "Deps/Externals/ImGui"]
	path = Deps/Externals/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
